<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021561698058-g7r7g5q9ia5ajcfg8ovrrb8c83kbb5tu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021561698058-g7r7g5q9ia5ajcfg8ovrrb8c83kbb5tu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1021561698058-6o5ajvrv19p5vddi6o7ga4m4mhtbpj59.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCd8Dn99yhimKBAmHZwgL8K7KszW5oxmFA</string>
	<key>GCM_SENDER_ID</key>
	<string>1021561698058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vadix.berightapp</string>
	<key>PROJECT_ID</key>
	<string>beright-app</string>
	<key>STORAGE_BUCKET</key>
	<string>beright-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021561698058:ios:c529353ab19d6979956cf3</string>
</dict>
</plist>